<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>World Beauty</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="materialize/css/materialize.css" type="text/css"
	rel="stylesheet" media="screen,projection" />
<link href="materialize/css/style.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>

<style>
body {
  background-image: url('imagens/evento_cadastro.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<body>
	<nav>
		<div class="nav-wrapper">
		 <a href="//www.google.com"><img src="imagens/cliente.png" height="65" width="90" class="media-object  img-responsive img-thumbnail"></a>
     	 <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
			<a href="/" class="brand-logo center">Página inicial <i class="material-icons right">home</i> </a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/cadastrarCliente" class="waves-effect waves-light btn">Cadastrar cliente <i class="material-icons right">add_circle</i></a></li>
				<li><a href="/clientes" class="waves-effect waves-light btn">Lista de clientes <i class="material-icons right">format_list_numbered</i></a></li>
			</ul>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
		
			<br>
			<br>
			<div class="row center">
			 <a href="//www.google.com"><img src="imagens/cliente.png" class="media-object  img-responsive img-thumbnail"></a>
			</div>
			<div class="row center">
				<h5 class="header center pink-text"><b>Adicione seus clientes!!</b></h5>
			</div>
			<div class="row center">
				<a href="/cadastrarCliente"
					id="download-button"
					class="btn-large waves-effect waves-light pink">Cadastre já seu cliente!</a>
			</div>
			<br>
			<br>

		</div>
	</div>

	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">O que é a WorldBeautyAPP</h5>
					<p class="grey-text text-lighten-4">Empresa para cadastrar clientes feita por alunos da FATEC São José dos Campos</p>


				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Equipe</h5>
					<ul>
						<li><a href="https://github.com/kevingabrielmelo"><img src="imagens/github.png" height="30" width="50" class="media-object  img-responsive img-thumbnail"></a></li>
						<li><a href="//www.google.com"><img src="imagens/instagram.png" height="30" width="50" class="media-object  img-responsive img-thumbnail"></a></li>
						<li><a href="//www.google.com"><img src="imagens/whatsapp.png" height="30" width="50" class="media-object  img-responsive img-thumbnail"></a></li>
						<li><a href="//www.google.com"><img src="imagens/linkedin.png" height="30" width="50" class="media-object  img-responsive img-thumbnail"></a></li>
					</ul>
				</div>
			
		<div class="footer-copyright">
			<div class="container">
				Por <a class="orange-text text-lighten-3"
					href="https://github.com/kevingabrielmelo">Equipe TOP</a>
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="materialize/js/materialize.js"></script>
	<script src="materialize/js/init.js"></script>

</body>
</html>
